@page
@model PetShopAtlantico.Pages.PetOwners.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="titlePage">Pet Owner - Details</h1>
    <hr/>
    <div class="row">
        <dt class="col-sm-auto">
            @Html.DisplayNameFor(model => model.PetOwner.Name):
        </dt>
        <dd class="col-sm-auto">
            @Html.DisplayFor(model => model.PetOwner.Name)
        </dd>
    </div>
    <div class="row">
        <dt class="col-sm-auto">
            @Html.DisplayNameFor(model => model.PetOwner.Address):
        </dt>
        <dd class="col-sm-auto">
            @Html.DisplayFor(model => model.PetOwner.Address)
        </dd>
    </div>
    <div class="row">
        <dt class="col-sm-auto">
            @Html.DisplayNameFor(model => model.PetOwner.PhoneNumber):
        </dt>
        <dd class="col-sm-auto">
            @Html.DisplayFor(model => model.PetOwner.PhoneNumber)
        </dd>
    </div>
    <div class="row">
        <dt class="col-sm-auto">
            @Html.DisplayNameFor(model => model.PetOwner.Email):
        </dt>
        <dd class="col-sm-auto">
            @Html.DisplayFor(model => model.PetOwner.Email)
        </dd>
    </div>
    <div>
        <a asp-page="./Edit" class="btn btn-warning" asp-route-id="@Model.PetOwner.Id">Edit</a>
        <a asp-page="./Index" class="btn btn-primary">Back</a>
    </div>
</div>