@page
@model PetShopAtlantico.Pages.Pets.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div class="container">

    <h1 class="titlePage">Pet - Details</h1>
    <hr/>
    <div class="row">
        <dt class="col-sm-auto">
            @Html.DisplayNameFor(model => model.Pet.PetName):
        </dt>
        <dd class="col-sm-auto">
            @Html.DisplayFor(model => model.Pet.PetName)
        </dd>
    </div>
    <div class="row">
        <dt class="col-sm-auto">
            @Html.DisplayNameFor(model => model.Pet.Breed):
        </dt>
        <dd class="col-sm-auto">
            @Html.DisplayFor(model => model.Pet.Breed)
        </dd>
    </div>
    <div class="row">
        <dt class="col-sm-auto">
            @Html.DisplayNameFor(model => model.Pet.Picture):
        </dt>
        <dd class="col-sm-auto">
            @Html.DisplayFor(model => model.Pet.Picture)
        </dd>
    </div>
    <div class="row">
        <dt class="col-sm-auto">
            @Html.DisplayNameFor(model => model.Pet.OwnerName):
        </dt>
        <dd class="col-sm-auto">
            @Html.DisplayFor(model => model.Pet.OwnerName)
        </dd>
    </div>
    <div class="row">
        <dt class="col-sm-auto">
            @Html.DisplayNameFor(model => model.Pet.PetOwner):
        </dt>
        <dd class="col-sm-auto">
            @Html.DisplayFor(model => model.Pet.PetOwner.Email)
        </dd>
    </div>
    <div>
        <a asp-page="./Edit" class="btn btn-warning" asp-route-id="@Model.Pet.Id">Edit</a>
        <a asp-page="./Index" class="btn btn-primary">Back</a>
    </div>
</div>